<head>
    <title>{{.Title}}</title>
</head>
<body>
    <h1>{{.Title}}</h1>

    <p>
    {{ .StoryBlob }}
    </p>

    <hr>

    {{ range .Options }}
    <a href="/{{.Arc}}">{{.Text}}</a><br/>
    {{ end }}
</body>
